body{ 
    background-color: aqua;
}
h1{
    color: rgb(177, 40, 40);
}
main h1{
    color: rgb(16, 238, 64);
}
.color-titulo{
    color: rgb(12, 12, 12);
}
#identificador{
    background-color: rgb(56, 56, 172);
    color: rgb(127, 19, 228);
}